<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>this is about page</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempora consequuntur veniam minus natus nam consectetur hic, molestiae cupiditate quidem molestias vel quis in ab dolore deserunt dolores asperiores aut doloribus a! Ad, ea. Facilis a corrupti deserunt magnam, at libero suscipit perspiciatis exercitationem dignissimos, vero natus! Repudiandae, officia odio.</p>
      <button>contact us</button>
    </div>
  </body>
</html>
